@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    word-wrap:break-word;
    word-break: keep-all;
    font-family: 'Noto Sans KR', sans-serif;
}
html {
    display: flex;
    align-items : center;
    justify-content: center;
    scroll-behavior:smooth;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 160px;

}
body, .middle, .wrapper, .first, .second, .third, .fourth{
    position: relative;
}

/* 메뉴 바 */
header {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    width:100%; height: 80px;
    display: flex;
    align-items : center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

}
.menubar li a{
    display: block;
    align-items : center;
    justify-content: space-around;
    font-size: 20px;
    padding: 0.92em;
}
.menubar li a:hover{
    color: #2b5876;
    border-bottom: solid 1px #ffffff;
}
.menubar li a.on {
    color: #2b5876;
    border-bottom: solid 1px #ffffff;
}
.menubar {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}
.menubar li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

/* index.html : 메인 페이지 */
.shampoo_backg_img {
    background: url("./img/shampoo_backg.png") 
    center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100%; height: 900px;
    display: flex;
    align-items : center;
    justify-content: flex-start;
}
.main_screen {
    align-items : center;
    justify-content: center;
    padding-left: 15.0em;
}
.main_screen h2 {
    color:#f1f1f1;
    font-size: 8.0em;
    font-family: 'Lobster', cursive;
    filter: drop-shadow(10px 10px 0px #000);
}
.middle {
    width:100%;
    margin:auto;
    min-height: 100vh;
}
.middle h2 {
    font-size: 50px;
    font-weight: 700;
}
.middle p {
    font-size: 25px;
    font-weight: 400;
    color:#2e2e2e;
}
.first, .second, .third, .fourth{
    height: 20em;
    padding: 20em;
    border-top: 2px solid #dddddd;
    display: flex;
    align-items : center;
}
.first{
    text-align: right;
    justify-content: flex-end;
}
.second{
    background-color: #fad0c4;
}
.third{
    text-align: right;
    justify-content: flex-end;
}
.fourth{
    background-color: #e3eeff
}
.first .info_img {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background: url("./img/shampoo_img_1.jpg") 
    center center no-repeat;
    background-size: cover;
    margin : 10em;
    display: block;
    width: 35%;
    height:auto;
    border-radius: 100%;
    box-shadow: 30px 50px 0px #ff9a9e;
    object-fit: cover;
}
.second .shampoo_img {
    position: absolute;
    top:0; right:0; bottom:0;
    background: url("./img/shampoo_img_2.jpg") 
    center center no-repeat;
    background-size: cover;
    margin : 10em;
    display: block;
    width: 35%;
    height:auto;
    border-radius: 100%;
    border-right: 1px solid #fff;
    box-shadow: -70px 0px 0px #bfd9fe;
    object-fit: cover;
}
.third .products_img {
    position: absolute;
    top:0; left:0; right:0; bottom:0;
    background: url("./img/shampoo_img_3.jpg") 
    center center no-repeat;
    background-size: cover;
    margin : 10em;
    display: block;
    width: 35%;
    height:auto;
    border-radius: 100%;
    box-shadow: -30px -50px 0px #bfd9fe;
    object-fit: cover;
}
.fourth .subscribe_img {
    position: absolute;
    top:0; right:0; bottom:0;
    background: url("./img/shampoo_img_4.jpg") 
    center center no-repeat;
    background-size: cover;
    margin : 10em;
    display: block;
    width: 35%;
    height:auto;
    border-radius: 100%;
    box-shadow: 70px 0px 0px #fad0c4;
    object-fit: cover;
}
.mainButton, .result_button {
    margin-top:2em;
    font-size: 20px;
    font-weight: 400;
    color:#000000;
    background: transparent;
    width: 180px;
    height: 50px;
    border: 0.8px solid;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items : center;
    justify-content: center;
    cursor: default;
}
.mainButton:hover, .result_button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
    animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -webkit-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -moz-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
}
.first .mainButton {
    margin-left:65%;
}
.third .mainButton {
    margin-left:53%;
}

/* 페이지 중간 부분 */
.wrapper {
    max-width: 1200px;
    margin: auto;
    padding-left: 5%; 
    padding-right: 5%; 
    padding-bottom: 3%;
    min-height: 100vh;
    width: 100%;
}

.space_tmp {
    margin: 70px;
    padding-left: 6%;
    padding-right: 6%;
}

/*서비스 소개 페이지*/
.intro_top_img {
    background: url("./img/intro_top_img.png") 
    center center no-repeat;
    background-size: cover;
    width:100%; height: 250px;
    display: flex;
    align-items : center;
    justify-content: flex-start;
}
.intro_top_img h2 {
    color:#fad0c4;
    padding-left: 1.0em;
    font-size: 8.0em;
    font-family: 'Lobster', cursive;
    filter: drop-shadow(10px 10px 0px #000);
}
.space hr {
    height:3px;
    border:0px;
    background-image: linear-gradient(45deg,#a18cd1 0%, #fbc2eb 100%);
}
.space h3 {
    font-size: 50px;
    font-weight: 700;
}
.space p {
    font-size: 22px;
    padding : 10px; /*2.0em*/
    color:#2e2e2e;
}
.info_introduce {
    text-align: center;
}
.info_introduce span {
    color:#ff7a7e;
}
.service_info {
    font-size:32px;
    font-weight: 700;
    text-align: center;
}
.Cards_info {
    display: flex;
    align-items : center;
    justify-content: center;
    padding-bottom: 5%;
}
.info_card{
    background: #fff;
    text-align: center;
    border: 1.5px solid #eeeeee;
    border-radius: 5%;
    height: 433px;
    width: 300px;
    padding: 10px;
    margin: 5%;
    box-shadow: 25px 20px 35px #bbbbbb;
}
.info_card h4 {
    font-size: 1.3em;
    color:#2e2e2e
}
.info_card .info_cardImg{
    padding-top: 5%;
    height: 30%;
}
.info_card .info_cardImg img{
    height:100%;
    width: auto;
}
.info_card .info_cardText h4{
    font-size: 1.5em;
    color:#2e2e2e
}
.info_card .info_cardText p{
    font-size: 1.2em;
    color:#2e2e2e;
    padding:0;
}

/* 추천기 화면 */
.recommend_top span {
    color : #ff7a7e;
}
.center_box {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}
.center_box h3 {
    font-size: 30px;
    text-align: center;
}

.content {
    padding-top: 50px;
}
/*
.filebox {
    display: flex;
    align-items : center;
    justify-content: flex-start;
}
.filebox input[type="file"]{
    display:none;
}
.filebox .file_input {
    display: flex;
    align-items : center;
    justify-content: center;
    width: 240px;
    height: 50px;
    background-color: #fad0c4;
    border-radius: 15px;

}
*/
.check_list {
    text-align: center;
    color:#2e2e2e;
}
.check_list input[type="radio"] {
    display:none;
}
.check_list input[type="radio"]:checked + .checkbox {
    background-color: #2a5298;
    border : 1px solid #fff;
}
.check_list input[type="radio"]:checked + .checkbox img {
    filter: brightness(600%);
}

.check_list em {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    padding : 0 0.8em 0 0.8em;
}
.check_list span {
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;

}
.check_type {
    display: flex;
    align-items : center;
    justify-content: center;
    margin:1.2em 1.2em 5.0em 1.2em
}
.checkbox {
    width:130px;
    height:130px;
    margin:1.0em 1.0em 1.0em 1.0em;
    border : 1px solid #c2c2c2;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    align-items : center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.checkbox img{
    width:100%;
    height: auto;
    object-fit: cover;
}

.subscribe_direct {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    height:500px;
    width: 100%;
    margin-top: 3.0em;
    background-color: #e3eeff;
}
.subscribe_direct span{
    font-size: 2.5em;
    font-weight: 700;
}
.subscribe_direct p{
    font-size: 1.8em;
    text-align: center;
    font-weight: 500;

}
.button_area {
    position: relative;
    display: flex;
    align-items : center;
    justify-content: center;

}
.shortcut_button {
    border: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 8% 9% 8%;
    position: relative;
    width: 250px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
    overflow: hidden;
    border: #000000 solid 2px;
}
/**/
.shortcut_button div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
.shortcut_button div:nth-child(1) {
    color: #000000;
    background-color: transparent;
}
.shortcut_button div:nth-child(2) {
    background-color: #000000;
    width: 255px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transform: translate(-250px, 0px) skewX(-30deg);
    -webkit-transform: translate(-250px, 0px) skewX(-30deg);
    -moz-transform: translate(-250px, 0px) skewX(-30deg);
}
.shortcut_button div:nth-child(3) {
    color: #ffffff;
    left: -200px;
    transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
}
.shortcut_button:hover div:nth-child(2) {
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transform: translate(-15px, 0px) skewX(-30deg);
    -webkit-transform: translate(-15px, 0px) skewX(-30deg);
    -moz-transform: translate(-15px, 0px) skewX(-30deg);
}
.shortcut_button:hover div:nth-child(3) {
    left: 0px;
    transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
}
.shortcut_button a {
    display: block;
}

/* 추천 결과창 */
.result_top span{
    color:#7bb2ff;
}
.recommend_result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items : center;
}
.recommend_card {
    background: #fff;
    text-align: center;
    border: 1.5px solid #c2c2c2;
    border-radius: 5%;
    height: 433px;
    width: 300px;
    padding: 5%;
    margin: 5%;
}
.recommend_card img {
    height : 65%;
    margin-bottom: 0.2em;
}
.recommend_card p {
    font-size: 20px;
    font-weight: 500;
}
.subscribe_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}

/* 구독 창 css */
.inner h1 {
    font-size: 50px;
}
.inner p {
    font-size: 22px;
    color:#2e2e2e;
}
.inner span {
    color:#7bb2ff;
}
.planTitle {
    text-align: center;
}
.plans {
    padding-top: 50px;
}
.plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items : center;
    margin: auto;
}
.plan h2 {
    font-size: 2.0em;
}
.plan h3 {
    font-size: 1.8em;
}
.plan em {
    font-size: 1.2em;
}
.plan p {
    padding: 0.3em 0 0.3em 0;
    margin:0.3em;
    font-size: 1.1em;
    text-align: left;
    color:#2e2e2e;
}
.plan_info {
    display: flex;
    align-items : center;
    justify-content: space-between;
    border-bottom : 1px solid #b9b9b9;
}
.planA, .planB, .planC {
    width: 300px; height:400px;
    padding : 2em;
    text-align: center;
    margin: 30px 3px;
    border: 1.5px solid #b9b9b9;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #dddddd;
}
.planA {
    background-image: #fff;
}
.planB {
    background-image: #fff;
}
.planC {
    background-image: #fff;
}
.planButton {
    margin-top: 1.5em;
    font-size: 20px;
    font-weight: bold;
    color:#000000;
    background: #ffffff;
    width: 190px;
    height: 50px;
    border: 0.5px solid;
    border-radius: 20px;
    text-align: center;
    cursor: default;
}
.planButton:hover
{
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -webkit-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -moz-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
}
.recommand_direct {
    width:100%;
    height: 500px;
    background-color: #e3eeff;
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}
.recommand_direct span{
    font-size: 3.0em;
    font-weight: 700;
}
.recommand_direct p{
    font-size: 1.8em;
    text-align: center;
    font-weight: 500;

}


/* 상품 목록 css */
.productList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items : center;
    max-width: 1000px;
    margin:auto;
}
.card{
    text-align: center;
    margin: 30px 30px;
    border: 1px solid #eeeeee;
    height: 350px;
    width: 250px;
    padding: 10px;
}
.cardImg{
    margin-top: 5%;
    height: 50%;
}
.cardImg img{
    height:100%;
    width: auto;
}
.cardText h4{
    font-size: 18px;
}
.cardText p{
    text-align: center;
    font-style:italic;
    font-weight: bold;
}
.cardButton{
    align-items : left;
    font-size: 16px;
    font-weight: bold;
    color:#000000;
    background: #ffffff;
    width: 120px;
    height: 35px;
    border: 0.5px solid;
    border-radius: 10px;
    text-align: center;
    cursor: default;
}
.cardButton:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -webkit-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    -moz-animation: b09_electric_blinkIn 0.1s step-end 0 2;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    -moz-transition: all 0.2s ease 0.2s;
}

/*footer 페이지*/
footer
{
    position: absolute;
    color: white;
    background: #ff9a9e;
    width: 100%;
    height: 160px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items : center;
    justify-content: center;
}

/*반응형? 삭제 가능성 있음*/
@media (max-width: 1300px){
    header a{
        font-size:16px;
    }
    .first, .second, .third, .fourth{
        padding:10em;
    }
}
