* {
    margin: 0%;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.shampoo_backg_img {
    background: url("./img/shampoo_backg.png")
    center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menubar {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
}

.menubar li {
    display: inline-block;
    padding-left: 2.4%;
    padding-right: 2.4%;
}

.space {
    margin: 70px;
    padding-left: 6%;
    padding-right: 6%;
}

.content {
    padding-top: 50px;
}

.center_box {
    width: 50%;
    padding-left: 30%;
    padding-right: 20%;
}

.shortcut_button {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    width: 150px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #ccc;
}
.result_button {
    margin-top: 50px;
    margin-right: 50px;
    width: 120px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #ccc;
}

/*
input file css
https://blog.naver.com/joon7180/222211508610
https://blog.naver.com/helloapricott/222019969360
https://blog.naver.com/yeppplus/221809103283

https://blog.naver.com/alcmskfl17/221807281152
https://amaze9001.tistory.com/69
https://kakku.tistory.com/390
https://kakku.tistory.com/386
https://blog.naver.com/alcmskfl17/221807281152
https://blog.naver.com/1012rnjsdydgns/222325981348
https://blog.naver.com/xodbd0507/222490708563
https://blog.naver.com/yujesang124/222030926798

https://blog.naver.com/youhr21/222118740927
https://www.functionofbeauty.com/
https://www.acmicpc.net/
*/